body {
    height: 100vh;
    width: 100vw;
    background: #FFE3EC;
    font-family: 'Pangolin', cursive;
    font-size: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('heart2.gif'); /* Replace 'your-gif-url.gif' with the actual URL of your gif */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
 
  @keyframes up {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
  
  
  
  
 h1{
     
         font-size: 3em;
         color: #e94d58;
         margin: 10px 0; 
         text-align: center; 
     
     
     
 }
 .btn-group {
     width: 100%;
     height: 30px;
     display: flex;
     justify-content: center;
     margin-top: -50px;
 }
 button{
     position: absolute;
     width: 110px;
     height: inherit;
     color: white;
     border-radius: 30px;
     outline: none;
     cursor: pointer;
     box-shadow: 0 2px 4px gray;
     font-size: 1.2em;
 }
 button:nth-child(1) {
     margin-left: -250px;
     background: #e94d58; 
 }
 button:nth-child(2){
     margin-right: -150px;
     background: #e94d58;
 }


